.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.clients-grid {
  display: flex;
  flex-wrap: wrap;    /* Allow cards to wrap if there's not enough space */
  gap: 20px;          /* Space between the cards */
  justify-content: center;  /* Center the cards */
  padding: 20px;
}

.flip-card {
  width: 200px;       /* Set a fixed width for the cards */
  height: 250px;      /* Set a fixed height for the cards */
  perspective: 1000px; /* This is important for the 3D flip effect */
}